@import "../colors.scss";

.Login {
    background-color: darken($dark-shades, 10%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;

    .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 400px;
        height: 400px;
        background-color: $dark-shades;
        box-shadow: 0 0 10px darken($dark-shades, 30%);
        border-radius: 10px;
        color: $main-brand;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        p {
            color: $light-shades;
        }
        button {
            background-color: $light-accent;
            border: none;
            padding: 1em;
            border-radius: 2em;
            color: $light-shades;
            font-weight: 800;
        }
    }
}