@import "colors.scss";
@import "Components/Header.scss";

.App {
  .content {
    grid-template-columns: minmax(auto, 500px) minmax(66%, auto);
    grid-template-rows: 1fr;
    display: grid;
    align-items: center;
    justify-items: center;

    height: calc(100vh - $header-height);
    width: 100vw;
  }
}

body {
  background-color: darken($dark-shades, 10%);
}